body {
    background-image: url('assets/pexels-107932638-33074314.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}
